<div class="d-flex justify-content-center flex-column align-items-center">
  <h1 class="my-5">
    @if (recipeId) {
    Update
    }
    @else {
    Add
    }
    Recipe Details
  </h1>
  <div class="container my-5 border rounded text-center p-5 shadow w-75">
    <!-- <pre> {{recipeDetails() | json}} </pre> -->
    <div class="row">
      <!-- Left Column -->
      <div class="col-6">
        <div class="mb-2">
          <input [(ngModel)]="recipeDetails().name" placeholder="Recipe Name" type="text" class="form-control">
        </div>

        <div class="mb-2">
          <input [(ngModel)]="recipeDetails().prepTimeMinutes" placeholder="Recipe Preparation time in Minutes"
            type="text" class="form-control">
        </div>

        <div class="mb-2">
          <input [(ngModel)]="recipeDetails().image" placeholder="Recipe Image URL" type="text" class="form-control">
        </div>

        <div class="mb-2">
          <label for="cuisine">Choose Cuisine type</label>
          <select id="cuisine" class="form-control" [(ngModel)]="recipeDetails().cuisine">
            <option selected hidden disabled>Choose Cuisine type</option>
            <option value="Smoothie">Smoothie</option>
            <option value="Italian">Italian</option>
            <option value="Greek">Greek</option>
            <option value="Pakistani">Pakistani</option>
            <option value="Indian">Indian</option>
            <option value="Japanese">Japanese</option>
            <option value="Russian">Russian</option>
            <option value="Asian">Asian</option>
            <option value="Mediterranean">Mediterranean</option>
            <option value="Turkish">Turkish</option>
            <option value="Lebanese">Lebanese</option>
            <option value="American">American</option>
            <option value="Thai">Thai</option>
            <option value="Moroccan">Moroccan</option>
            <option value="Brazilian">Brazilian</option>
            <option value="Mexican">Mexican</option>
            <option value="Korean">Korean</option>
          </select>
        </div>

        <div class="mb-2">
          <div class="d-flex mb-2">
            <textarea #ingredientInput name="" id="" placeholder="Add Ingredients" class="form-control"></textarea>
            <button (click)="addIngredient(ingredientInput)" class="btn fw-bolder fs-1 ms-1 text-primary">
              +
            </button>
          </div>

          @for (item of ingredientArray; track $index) {
          <div class="d-flex">
            <input value="{{item}}" class="form-control" placeholder="Ingredient" type="text" readonly>
            <button class="btn text-danger fw-bolder ms-1" (click)="removeIngredient(item)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          }
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-6">
        <div class="mb-2">
          <input [(ngModel)]="recipeDetails().servings" placeholder="Recipe Servings (ex: 4 )" type="text"
            class="form-control">
        </div>

        <div class="mb-2">
          <input [(ngModel)]="recipeDetails().cookTimeMinutes" placeholder="Recipe Cooking time in Minutes" type="text"
            class="form-control">
        </div>

        <div class="mb-2">
          <input [(ngModel)]="recipeDetails().caloriesPerServing" placeholder="Recipe Calorie Per Servings (ex: 350)"
            type="text" class="form-control">
        </div>

        <div class="mb-2">
          <label for="difficulty">Choose Mode of Cooking</label>
          <select id="difficulty" class="form-control" [(ngModel)]="recipeDetails().difficulty">
            <option selected hidden disabled>Choose Mode of Cooking</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
          </select>
        </div>

        <div class="mb-2">
          <div class="d-flex mb-2">
            <textarea #instructionInput name="" id="" placeholder="Cooking Instructions"
              class="form-control"></textarea>
            <button (click)="addInstruction(instructionInput)" class="btn fw-bolder fs-1 ms-1 text-primary">
              +
            </button>
          </div>

          @for (item of instructionsArray; track $index) {
          <div class="d-flex">
            <input value="{{item}}" class="form-control" placeholder="Ingredient" type="text" readonly>
            <button class="btn text-danger fw-bolder ms-1" (click)="removeInstruction(item)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          }
        </div>

      </div>
    </div>

    <!-- Meal Type -->

    <div class="my-2 d-flex">
      <input #mealInput type="text" class="form-control"
        placeholder="Add Meal types (ex: Breakfast, Lunch, Dinner etc)">
      <button (click)="addMealType(mealInput)" class="btn fw-bolder fs-1 ms-1 text-primary">
        +
      </button>
    </div>

    @for (meal of mealTypeArray; track $index) {
    <div class="d-flex flex-wrap">
      <span class="border rounded ps-2">
        {{meal}}
        <button (click)="removeMealType(meal)" class="btn fw-bolder">
          <i class="fa-solid fa-close text-danger"></i>
        </button>
      </span>
    </div>
    }

    
    @if (recipeId) {
    <button class="btn btn-success" (click)="editRecipe()">Update Recipe</button>
    }
    @else {
    <button class="btn btn-success" (click)="addRecipe()">Add Recipe</button>
    }

  </div>

</div>