<app-header></app-header>
<div class="container">
  <div class="bg-success row align-items-center" style="height: 350px;">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 text-center text-light">
      <h1>Contact Us</h1>
      <p class="mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit minima
        odio ab fugiat eaque sit soluta quibusdam sed minus iure facere
        necessitatibus, possimus similique, eum mollitia ratione.
      </p>
    </div>

    <div class="col-lg-2"></div>
  </div>

  <div class="row align-items-center my-5" style="height: 650px;">
    <div class="col-lg-2"></div>

    <div class="col-lg-4">
      <h3>Get In Touch</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quasi odio
        aperiam! Quasi eius expedita, voluptatibus dolorem corrupti accusantium
        non perferendis rem eligendi. Excepturi dolorum animi deleniti harum
        blanditiis eos!
      </p>

      <div class="d-flex">
        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-solid fa-location"></i>
        </div>
        <div>
          <h5>Address</h5>
          <p>NYC 4567, PO Berlin.</p>
        </div>
      </div>

      <div class="d-flex my-3">
        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div>
          <h5>Phone Number</h5>
          <p>9086754321</p>
        </div>
      </div>

      <div class="d-flex">
        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div>
          <h5>E Mail</h5>
          <p>mail</p>
        </div>
      </div>

      <hr>

      <h5>Follow Us</h5>

      <div class="d-flex mt-4">
        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-brands fa-facebook-f"></i>
        </div>

        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-brands fa-instagram"></i>
        </div>

        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-brands fa-twitter"></i>
        </div>

        <div class="rounded-circle bg-success d-flex justify-content-center align-items-center text-light me-3"
          style="width: 40px; height: 40px;">
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-4">
      <form #feedbackForm="ngForm" class="border rounded shadow p-5" (ngSubmit)="submitFeedback()">
        <h3>Client Testimony</h3>

        <div class="mt-4">
          <input #username="ngModel" name="username" [(ngModel)]="name" type="text" placeholder="Name"
            class="form-control" required pattern="[a-zA-Z ]*">
        </div>
        @if (username.invalid && username.touched) {
        <div class="text-danger" style="font-size: 11px;">
          *Invalid Name
        </div>
        }

        <div class="mt-3">
          <input #usermail="ngModel" name="mail" [(ngModel)]="email" type="email" placeholder="E Mail" class="form-control" required email>
        </div>
        @if (usermail.invalid && usermail.touched) {
        <div class="text-danger" style="font-size: 11px;">
          *Invalid Email
        </div>
        }

        <div class="mt-3">
          <textarea #umessage="ngModel" name="message" [(ngModel)]="message" placeholder="Message" class="form-control" required></textarea>
        </div>
        @if (umessage.invalid && umessage.touched) {
        <div class="text-danger" style="font-size: 11px;">
          *Message required
        </div>
        }

        <p class="my-4 text-secondary">
          By Submitting, your agreeing the terms and condition of our website. We
          may use your details in our site.
        </p>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success" [disabled]="feedbackForm.invalid">Submit</button>
        </div>
      </form>
    </div>

    <div class="col-lg-1"></div>
  </div>

  <div class="w-100">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.9816323397044!2d76.34000487362448!3d10.018374072721139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080ffce877d5ef%3A0x8bef6870ad11b98!2sLuminar%20Technolab%2C%20Python%2C%20MERN%20stack%2C%20Software%20Testing%2C%20Data%20science%2C%20Artificial%20intelligence%2C%20asp.net%20training%20in%20kochi!5e0!3m2!1sen!2sin!4v1731405615524!5m2!1sen!2sin"
      width="1300" height="400" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="my-5"
      style="border: 0;"></iframe>
  </div>
</div>

<app-footer></app-footer>