/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/rose-red.css';
*{
    font-family: "Solway", serif;
}
body{
    font-family: "Solway", serif;
    overflow-x: hidden;
}


